{% extends 'base.html' %}
{% block title %} AGRIM Transfers {% endblock %}
{% load static %}

{% block content %}

<div class="row mt-2">
    <div class="col-11">
        <h1>AGRIM Transfers</h1>
    </div>
        <div class="col-1">
        <form action="{% url 'appka:logout' %}" method="post">
        {% csrf_token %}
        <button class="btn btn-secondary">Logout</button>
    </form>
    </div>
</div>


<div class="row mt-2">
    <div class="col-9">
        <h5>Welcome on web site dedicated to transfers of the AGRIM licences.</h5>
    </div>
    <div class="col-2">
       <a class="btn btn-warning btn-sm"  href="{% url 'appka:password_change' %}">Change password</a>
    </div>
    <div class="col-1">
       <a class="btn btn-warning btn-sm" href="{% url 'appka:edit_user' %}">Edit profile</a>
    </div>
</div>


<div class="row mt-5">
    <div class="col-3">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Offer AGRIM</h5>
                    <p class="card-text">If you want to offer AGRIM licence for transfer:</p>
                    <a href="{% url 'appka:licence_create' %}" class="btn btn-success">Offer AGRIM</a>
            </div>
        </div>
    </div>


    <div class="col-3">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Search AGRIM</h5>
                    <p class="card-text">If you want to search for AGRIM licence for transfer:</p>
                    <a href="{% url 'appka:licence_search' %}" class="btn btn-primary">Search AGRIM</a>
            </div>
        </div>
    </div>
</div>


<div class="row mt-5">
    <div class="col-9">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">My licences</h5>
                <p class="card-text">If you want to se a list of your AGRIM licences or withdraw/delete offered AGRIM: </p>
                <a href="{% url 'appka:licence_list' %}" class="btn btn-info">My licences</a>
            </div>
        </div>
    </div>
</div>


{% endblock %}









