{% extends 'base.html' %}
{% block title %} Password Reset {% endblock %}

{% block content %}
    <h1>Forgotten password?</h1>
    <p>If email exists we will send you a reset link.</p>

    <div class="row">
        <div class="col-4">
            <form method="post" action="{% url 'appka:password_reset' %}">
                <div class="mb-3">
                    {{ form.email.errors }}
                    <label class="form-label" for="{{ form.email.id_for_label }}">Email:</label>
                    <input
                            type="text"
                            class="form-control"
                            name="{{ form.email.name }}"
                            id="{{ form.email.id_for_label }}"
                    >
                </div>

                <button class="btn btn-primary">Send email</button>
                <a class="btn btn-primary" href="{% url 'appka:login' %}">Back to Login</a>
                {% csrf_token %}
            </form>
        </div>
    </div>
{% endblock %}
