{% extends 'base.html' %}
{% block title %} Add new licence {% endblock %}

{% block content %}
<input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
    <h1>Adding a new licence</h1>

    <div class="row mt-5">
        <div class="col-md-6">
            <h2>Choose commodity</h2>
        </div>
        <div class="col-md-6">
            <select class="form-control" id="sKomodita" onchange="komoditaChange()">
            </select>
                
        </div>
    </div>
    <div class="row mt-3" id="dKnKod" hidden>
        <div class="col-md-6">
            <h2>Choose CN code</h2>
        </div>
        <div class="col-md-6">
            <select class="form-control" id="sKnKod" onchange="showCountry()">
            </select>

        </div>
    </div>

    <div class="row mt-3" id="dCountry" hidden>
        <div class="col-md-6">
            <h2>Choose country of origin</h2>
        </div>
        <div class="col-md-6">
            <select class="form-control" id="sCountry" onchange="showDetail()">
            </select>

        </div>
    </div>

    <div class="row mt-3" id="dCountry" hidden>
        <div class="col-md-6">
            <h2>Choose country of origin</h2>
        </div>
        <div class="col-md-6">
            <select class="form-control" id="sCountry" onchange="showDetail()">
            </select>

        </div>
    </div>

    <div class="row mt-3" id="dDetail1" hidden>
        <div class="col">
            <div class="row mt-1">
                <div class="col-md-6">
                    <h4>Enter licence number</h4>
                </div>
                <div class="col-md-6">
                    <input type="text" class="form-control" id="valLicence" placeholder="Licence number" oninput="checkUlozitShow()">
                </div>
            </div>

            <div class="row mt-1">
                <div class="col-md-6">
                    <h4>TRQ licence</h4>
                </div>
                <div class="col-md-6">
                    <input class="form-check-input" type="checkbox" id="cbKvota">
                    <label class="form-check-label" for="cbKvota">TRQ?</label>
                </div>
            </div>

            <div class="row mt-1">
                <div class="col-md-6">
                    <h4>Enter TRQ number</h4>
                </div>
                <div class="col-md-6">
                    <input type="text" class="form-control" id="valTRQ" placeholder="TRQ number" oninput="checkUlozitShow()">
                </div>
            </div>


            <div class="row mt-1">
                <div class="col-md-6">
                   <h4>Enter quantity in kg(hl)</h4>
                </div>
                <div class="col-md-6">
                    <input type="text" id="valMnozstvi" placeholder="" oninput="checkUlozitShow()">
                </div>
            </div>
            
        </div>
    </div>

    <div class="row mt-3" id="dUlozit" hidden>
        <div class="col">
            <button class="btn btn-primary" id="btnUlozit" onclick="saveData()">Uložit</button>
        </div>
    </div>


<script>

    $(document).ready(function () {
        loadKomodita();
        loadCountry();
    });
    function HideAll() {
        $("#dKnKod").attr("hidden", true);
        $("#dCountry").attr("hidden", true);
        $("#dDetail1").attr("hidden", true);
        $("#dUlozit").attr("hidden", true);
    }

    

    function loadKomodita() {
        $.ajax({
            url: "{% url 'appka:get_komodita' %}",
            type: "GET",
            success: function (data) {
                var sKomodita = $("#sKomodita");
                sKomodita.empty();
                sKomodita.append("<option value='0'>Choose commodity</option>");
                $.each(data, function (index, value) {
                    sKomodita.append("<option value='" + value.commodity_id + "'>" + value.name + "</option>");
                });

                
                $("#dDetail1").attr("hidden", true);
                $("#dUlozit").attr("hidden", true);
                $("#spKnKodNazev").empty();
                $("#spCountryNazev").empty();
                $("#spKvota").empty();
                $("#valTRQ").val("");
                $("#valLicence").val("");
                $("#valMnozstvi").val("");
                $("#cbKvota").prop("checked", false);

                
            }
        });
    };


    function komoditaChange() {
    
    var id = $("#sKomodita").val();
    if (id > 0) {

        $.ajax({
            url: "{% url 'appka:get_knkod' %}",
            type: "GET",
            data: {id: id},
            success: function (data) {
                var sKnKod = $("#sKnKod");
                sKnKod.empty();
                sKnKod.append("<option value='0'>Choose CN code</option>");
                $.each(data, function (index, value) {
                    sKnKod.append("<option value='" + value.cn_id + "'>" + value.KnKod + "</option>");
                });
            }
        });

        $("#dKnKod").attr("hidden", false);
        
        var spKnKodNazev = $("#spKnKodNazev");
        spKnKodNazev.empty();

    } else {
        HideAll();
    }

};

function loadCountry() {
        $.ajax({
            url: "{% url 'appka:get_country' %}",
            type: "GET",
            success: function (data) {
                var sCountry = $("#sCountry");
                sCountry.empty();
                sCountry.append("<option value='0'>Choose country</option>");
                $.each(data, function (index, value) {
                    sCountry.append("<option value='" + value.country_id + "'>" + value.name + "</option>");
                });


            }
        });
    };

function showCountry() {
        var id = $("#sKnKod").val();
        console.log(id);

            if (id > 0) {
                $("#dCountry").attr("hidden", false);

            } else {
                HideAll();
            }

    }

    function showDetail() {
        var id = $("#sCountry").val();
        console.log(id);

            if (id > 0) {
                $("#dDetail1").attr("hidden", false);

            } else {
                HideAll();
            }

    }

    function checkUlozitShow() {
        var valLicence = $("#valLicence").val();
        var valMnozstvi = $("#valMnozstvi").val();
        var cbKvota = $("#cbKvota").prop("checked");
        var valTRQ = $("#valTRQ").val();
        if (valLicence.length > 0 && valMnozstvi.length > 0) {
            $("#dUlozit").attr("hidden", false);
        } else {
            $("#dUlozit").attr("hidden", true);
        }
    }


function saveData()
{
    var idKomodita = $("#sKomodita").val();
    var idKnKod = $("#sKnKod").val();
    var idCountry = $("#sCountry").val();
    var licence = $("#valLicence").val();
    var mnozstvi = $("#valMnozstvi").val();
    var kvota = $("#cbKvota").prop("checked");
    var TRQ = $("#valTRQ").val();

    var csrf_token = $('input[name="csrfmiddlewaretoken"]').val();

    
    $.ajax({
        url: "{% url 'appka:licence_save' %}",
        type: "POST",
        cache: false,
        headers: {"X-CSRFToken": csrf_token},
        data: {idKomodita: idKomodita, idKnKod: idKnKod, idCountry: idCountry, licence: licence, mnozstvi: mnozstvi, kvota: kvota, TRQ: TRQ,
            "csrfmiddlewaretoken":csrf_token},
        success: function (data) {
            if (data.Status == "ok") {
                alert("Data has been saved");
                $("#dKnKod").attr("hidden", true);
                var sKnKod = $("#sKnKod");
                sKnKod.empty();
                loadKomodita();
            } else {
                alert("Data has not been saved");
            }
        }
    });


}

</script>


{% endblock %}
