{% extends 'base.html' %}
{% block title %} Search AGRIM {% endblock %}

{% block content %}
<input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
<h1>Search AGRIM</h1>

<div class="row mt-5">
    <div class="col-md-6">
        <h2>Choose commodity</h2>
    </div>
    <div class="col-md-6">
        <select class="form-control" id="sKomodita" onchange="showDetail()">
        </select>
            
    </div>
</div>



<div class="row mt-3" id="dDetail1" hidden>
    <div class="col">
        <table class="table table-sm table-striped">
            <thead>
                <tr>
                    <th scope="col">Licence number</th>
                    <th scope="col">CN code</th>
                    <th scope="col">Country</th>
                    <th scope="col">TRQ number</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Validity</th>
                </tr>
            </thead>
            <tbody id="tableTBody">
            </tbody>

        </table>
        
     </div>
</div>

<script>

$(document).ready(function () {
        loadKomodita();
    });

    function loadKomodita() {
        $.ajax({
            url: "{% url 'appka:get_komodita' %}",
            type: "GET",
            success: function (data) {
                var sKomodita = $("#sKomodita");
                sKomodita.empty();
                sKomodita.append("<option value='0'>Choose commodity</option>");
                $.each(data, function (index, value) {
                    sKomodita.append("<option value='" + value.commodity_id + "'>" + value.name + "</option>");
                });

                
            }
        });
    };


    // function komoditaChange() {
    //
    // var id = $("#sKomodita").val();
    // if (id > 0) {
    //
    //     $.ajax({
    //         url: "{% url 'appka:get_knkod' %}",
    //         type: "GET",
    //         data: {id: id},
    //         success: function (data) {
    //             var sKnKod = $("#sKnKod");
    //             sKnKod.empty();
    //             sKnKod.append("<option value='0'>Vyberte KN kod</option>");
    //             $.each(data, function (index, value) {
    //                 sKnKod.append("<option value='" + value.Id + "'>" + value.KnKod + "</option>");
    //             });
    //         }
    //     });
    //
    //     $("#dKnKod").attr("hidden", false);
    //     $("#dKvota").attr("hidden", false);
    //
    //
    // }

};

    function showDetail() {
        var id = $("#sKomodita").val();
        console.log(id);

            if (id > 0) {

                $.ajax({
                    url: "{% url 'appka:licence_get' %}",
                    type: "GET",
                    data: {id: id},
                    success: function (data) {

                        var tableTBody = $("#tableTBody");
                        tableTBody.empty();
                        $.each(data, function (index, value) {
                            console.log(value);
                            var td="";
                        td += "<tr>";
                            td += "<td>" + value.licence + "</td>";
                            td += "<td>" + value.cncode + "</td>";
                            td += "<td>" + value.country + "</td>";
                            td += "<td>" + value.quota + "</td>";
                            td += "<td>" + value.quantity + "</td>";
                            td += "<td>" + value.validity + "</td>";

                            td += "<td><button type='button' class='btn btn-primary' onclick='takeLicence(" + value.Id + ")" +
                                "'>Send request</button></td>";
                            td += "</tr>";
                        
                            tableTBody.append(td);
                        });


                        $("#dDetail1").attr("hidden", false);

                    }
                });
            } else {
                HideAll();
            }

    }

    function takeLicence(id) {
        alert("Vybraná licence je: " + id);
    }
</script>

{% endblock %}
